<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/efb444ab-e49a-4edb-9fe4-63a11c1550b1/resourceGroups/ConUSampleTest/providers/Microsoft.Web/sites/ConUSampleTest</ResourceId>
    <ResourceGroup>ConUSampleTest</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://conusampletest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>conusampletest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ConUSampleTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ConUSampleTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SchoolContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:conusampletest.database.windows.net,1433;Initial Catalog=ConUSample;User ID=yxcadmin@conusampletest.database.windows.net;Password=hello123456!" Name="Data Source=tcp:conusampletest.database.windows.net,1433;Initial Catalog=ConUSample;User Id=yxcadmin@conusampletest.database.windows.net;Password=hello123456!;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ContosoUniversity.DAL.SchoolContext, ContosoUniversity" MigrationConfiguration="ContosoUniversity.Migrations.Configuration, ContosoUniversity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SchoolContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:conusampletest.database.windows.net,1433;Initial Catalog=ConUSample;User Id=yxcadmin@conusampletest.database.windows.net;Password=hello123456!;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>